.header{
    position: relative;

    &__1{
        height: 100vh;
        background-color: $biruDark;
    }

    &__2{
       height: 100vh;
       background-image: url(../img/header.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
    }

    &__3{
        height: 100vh;
        background-color: $biruDark;
    }

    &__4{
        height: 100vh;
        background-image: url(../img/header2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 35%;
     }
    
     &__absen{
         width: 5rem;
         height: 5rem;
         background-color: $white;
         position: absolute;
         bottom: 2rem;
         right: -2.5rem;
         z-index: 99;
     }
}