@keyframes flip{
    0%{
        -webkit-transform:perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn);transform:perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn);-webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out;
    }
    40%{
        -webkit-transform:perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg);transform:perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg);-webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out;
    }
    50%{
        -webkit-transform:perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg);transform:perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg);-webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    80%{
        -webkit-transform:perspective(400px) scale3d(.95,.95,.95) translateZ(0) rotateY(0deg);transform:perspective(400px) scale3d(.95,.95,.95) translateZ(0) rotateY(0deg);-webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    to{
        -webkit-transform:perspective(400px) scaleX(1) translateZ(0) rotateY(0deg);transform:perspective(400px) scaleX(1) translateZ(0) rotateY(0deg);-webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
}
    .animated.flip{
        -webkit-backface-visibility:visible;
        backface-visibility:visible;
        -webkit-animation-name:flip;
        animation-name:flip;
    }